:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.f {
  display: flex;
}

.fc {
  display: flex;
  flex-direction: column;
}

.Noun { color: #8AE; }
.Pronoun { color: #8EE; }
.Verb { color: #E88; }
.Adjective { color: #8E8; }
.Adverb { color: #EA8; }
.Conjonction { color: #E8E; }
.Preposition { color: rgb(197, 194, 194); }
.Interjection { color: #A8E; }
.SpiritWord { color: rgb(111, 219, 147); }
.FunctionParticule { color: #EE8; }
.TransformationParticule { color: #EE8; }

img {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
    margin-right: 12px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #2a2826;
    border-radius: 6px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}